extends layout/index

block link
  - var page = 'events'

block main
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          h1(style="text-align:center;") Events
          h2 Robinson State Park Day coming up
          p.
            It's almost time again for Robinson State Park Day.
            In case you didn't know, the Town of Agawam has
            proclaimed the third Saturday of every June as Robinson
            State Park day. This event is celebrated in the park with
            a wide range of activities.
          p
            | This year, the schedule is as follows:
            .list-group
              .list-group-item
                h4.list-group-item-heading
                  | Bird Identification Walk
                  small 8 am
                p.list-group-item-text
                  | Led by Janet Orcutt of the Allen Bird Club.
                  | Bring binoculars.
              .list-group-item
                h4.list-group-item-heading
                  | Five-Mile Hike
                  small 10 am
                p.list-group-item-text
                  | Led by Gerri Morgan of the Wilbraham Hiking
                  | Club. Easy to moderate hiking. Poles, hiking
                  | boots, water, snack, and bug spray recommended.
                  | Appropriate for adults and older children.
              .list-group-item
                h4.list-group-item-heading
                  | "Big Tree" Walks
                  small Ongoing between 10 am and 2 pm
                p.list-group-item-text
                  | Led by Matt (Twig) Largess, arborist and long-time
                  | friend of the park. He may also lead a walk through
                  | the recovering tornado damage. These short walks
                  | are especially appropriate for children.
              .list-group-item
                h4.list-group-item-heading
                  | Rapid Stream Assessments
                  small Ongoing between 10 am and 2 pm
                p.list-group-item-text
                  | Watch and help Nancy Bobskill, AHS environmental
                  | teacher, and Rod Parlee, of the Bolton, CT Conservation
                  | Commission, do a rapid stream assessment for water 
                  | purity on streams that run through the park. Bring
                  | rubber boots. Anyone wishing to participate can
                  | respond to the Friends' email address for details
                  | and times:&nbsp;
                  a(href="mailto:robinsonfriends@comcast.net") robinsonfriends@comcast.net
                  | .
              .list-group-item
                h4.list-group-item-heading
                  | Scavenger Hunt and Nature Walk for Children
                  small 10:30 am
                p.list-group-item-text
                  | Between the Trestle Pavilion and the pond.
                  | Volunteers from Agawam High School will assist.
              .list-group-item
                h4.list-group-item-heading
                  | Nature Walk with Charlie Spencer
                  small 1 pm
                p.list-group-item-text
                  | Charlie will guide a comfortable walk along a
                  | particularly beautiful and peaceful stream.
                  | Meet in the parking lot adjacent to the picnic
                  | area/canoe launch.
              .list-group-item
                h4.list-group-item-heading
                  | WRWA Canoe & Kayak Cruise Arrival
                  small 3 pm
                p.list-group-item-text
                  | Watch the Westfield River Watershed 
                  | Association Annual Canoe & Kayak Cruise 
                  | arrive at Robinson from the Westfield 
                  | River at the park’s canoe launch area.
          p In addition to all of this, the Robinson Pond will be open
            | for swimming and exploring. The paved River Road is perfect
            | for a bike ride or a stroll.
          p Members of the Friends Group will be available at the Trestle
            | Pavilion with nature pictures for children to color, photo
            | displays, maps, and a general willingness to answer your
            | questions and help you learn more about the park.
          p: b Please note that severe weather or heavy rain will lead
            | to the event being cancelled.
