extends layout/index

block link
  - var page = 'events'

block main
  .container-fluid
    .row
      .col-md-12(style="text-align: center;")
        .index-col(style="max-width:700px;margin:auto;margin-top:18px;text-align:left;")
          h1(style="text-align:center;") Events
          h2 Robinson State Park Day 2015
          p.
            It's almost time again for Robinson State Park Day.
            In case you didn't know, the Town of Agawam has
            proclaimed the third Saturday of every June as Robinson
            State Park day. This event is celebrated in the park with
            a wide range of activities.
          p.
            Entrance fee is $8 per car for automobiles with Massachusetts
            registration. All events start at the Trestle Pavilion.
          p(style="text-align: center;")
            | Click#{' '}
            a(href='docs/rsp-day-2015.jpg') here
            | #{' '}to download the flyer!
          p
            | This year, the schedule is as follows:
            .list-group
              .list-group-item
                h4.list-group-item-heading
                  | Bird Identification Walk
                  small 8 am
                p.list-group-item-text
                  | Led by John Hutchison.
                  | Bring binoculars.
              .list-group-item
                h4.list-group-item-heading
                  | Explore the Tree Bus!
                  small 9 am &mdash; 3 pm
                p.list-group-item-text
                  img(src="tree-bus.jpeg", style="max-height: 150px;")
              .list-group-item
                h4.list-group-item-heading
                  | Five-Mile Hike
                  small 10 am
                p.list-group-item-text
                  | Led by Dave Conley. Easy to moderate hiking. Poles, hiking
                  | boots, water, snack, and bug spray recommended.
                  | Appropriate for adults and older children.
              .list-group-item
                h4.list-group-item-heading
                  | Nature Art Projects
                  small 10 am &mdash; noon
                p.list-group-item-text
                  | Projects guided by Sharon Vasicek.
              .list-group-item
                h4.list-group-item-heading
                  | "Noticing Nature" walk
                  small 10 am &mdash; noon
                p.list-group-item-text
                  | Led by Gini Traub. Appropriate for families with young children!
              .list-group-item
                h4.list-group-item-heading
                  | The CCC at Robinson State Park
                  small 1:30 pm
                p.list-group-item-text
                  | Presentation by Gini Traub. Followed by a walk to the remains
                  | of the historical camp.
              .list-group-item
                h4.list-group-item-heading
                  | WRWA Canoe &amp; Kayak Cruise Arrival
                  small 3 pm
                p.list-group-item-text
                  | Watch the Westfield River Watershed 
                  | Association Annual Canoe &amp; Kayak Cruise 
                  | arrive at Robinson from the Westfield 
                  | River at the park’s canoe launch area.
          p
            | If you have any questions, please email them to#{' '}
            a(href='mailto:robinsonfriends@comcast.net') robinsonfriends@comcast.net
            | .
          p: b Please note that severe weather or heavy rain will lead
            | to the event being cancelled.
