extends layout/index

block link
  - page = 'home';

block main
  .gallery
    .header
        h1 Welcome to Robinson State Park
        a.btn.btn-primary.btn-lg(href='/events.html') See what's going on in the park
    img.art(src='http://upload.wikimedia.org/wikipedia/commons/d/d0/Westfield_River,_Huntington_MA.jpg')
  .index-body.container-fluid
    .row
      .col-sm-4
        .index-col
          h2 Events
          .well
            h3 June 21: Robinson State Park Day
            ul
              li 8 a.m. Bird Walk
              li 10 a.m.&ndash;2 p.m. Hikes and activities through the park for adults and children alike
              li 3 p.m. Canoe cruise ends at Robinson State Park
              li: strong And a whole lot more!
            a.btn.btn-success(href='/events.html') Click for details &raquo;
      .col-sm-8
        .index-col
          h2 News
          .well
            h3 Robinson State Park Day coming up!
            p.
              Summer's nearly here, and what better way to kick it off
              than to spend time in Robinson Park? The Friends have
              organized a day full of park activities to commemorate
              the occasion.
            a.btn.btn-success(href="/news.html") Learn more &raquo;

