extends layout/index

block main
  .gallery
    .header
        h1 Welcome to Robinson State Park
        a.btn.btn-primary.btn-lg Learn more
    img.art(src='http://upload.wikimedia.org/wikipedia/commons/d/d0/Westfield_River,_Huntington_MA.jpg')
  .index-body.container-fluid
    .row
      .col-md-4
        .index-col
          h2 Events
          .well
            h3 Robinson State Park Day
            h4 June 21
            ul
              li 8 a.m. Bird Walk
              li 10 a.m.&ndash;2 p.m. Hikes and activities through the park for adults and children alike
              li 3 p.m. Canoe cruise ends at Robinson State Park
      .col-md-8
        .index-col
          h2 News

