extends layout/index

block link
  - var page = 'news'

block main
  .container-fluid.news
    .row
      .col-md-12
        .index-col
          h1 News
          h2 Park home to diverse array of birds
          p.
            On Saturday, June 21, 2014, Steven Svec of the
            Allen Bird Club led a group through the park in
            search of birds.
          img(src="bird-walk.jpg",style="width:100%;")
          p: small: i Above, left-to-right: Dave, a participant on the walk;
            | Rod Parlee, of the Bolton, CT Conservation Commission
            | (who helps with the Rapid Stream Assessment),
            | and Steven Svec, who led the walk.
          p. 
            Between 8:00 a.m. and 10:00 a.m., the group was
            not disappointed. Here is a list of all the birds
            they saw:
          .container
            .row
              .col-xs-4
                ul
                  li Green Heron
                  li Mallard Duck
                  li Pigeon
                  li Mourning Dove
                  li Chimney Swift
                  li Ruby-throated Hummingbird
                  li Downy Woodpecker
                  li Red-bellied Woodpecker
                  li Northern Flicker
                  li Eastern Phoebe
                  li Great-crested Flycatcher
                  li Eastern Kingbird
                  li Red-eyed Vireo
                  li Blue-headed Vireo
                  li Black-capped Chickadee
                  li White-breasted Nuthatch
              .col-xs-4
                ul
                  li Blue-gray Gnatcatcher
                  li American Robin
                  li Wood Thrush
                  li Gray Catbird
                  li Cedar Waxwing
                  li Pine Warbler
                  li American Redstart
                  li Louisiana Waterthrush
                  li Common Yellowthroat
                  li Scarlet Tanager
                  li Northern Cardinal
                  li Chipping Sparrow
                  li Song Sparrow
                  li Brown-headed Cowbird
                  li Common Grackle
                  li American Goldfinch
          p. 
            And here are the birds that Steve identified
            by ear, but no one saw:
          ul
            li Eastern Wood Pewee
            li American Crow
            li Veery
            li Yellow Warbler
            li Magnolia Warbler
            li Baltimore Oriole
    .row
      .col-md-12
        .index-col
          h2 Robinson State Park Day coming up
          p.
            It's almost time again for Robinson State Park Day.
            In case you didn't know, the Town of Agawam has
            proclaimed the third Saturday of every June as Robinson
            State Park day. This event is celebrated in the park with
            a wide range of activities.
          p
            | This year, the schedule is as follows:
            .list-group
              .list-group-item
                h4.list-group-item-heading
                  | Bird Identification Walk
                  small 8 am
                p.list-group-item-text
                  | Led by Janet Orcutt of the Allen Bird Club.
                  | Bring binoculars.
              .list-group-item
                h4.list-group-item-heading
                  | Five-Mile Hike
                  small 10 am
                p.list-group-item-text
                  | Led by Gerri Morgan of the Wilbraham Hiking
                  | Club. Easy to moderate hiking. Poles, hiking
                  | boots, water, snack, and bug spray recommended.
                  | Appropriate for adults and older children.
              .list-group-item
                h4.list-group-item-heading
                  | "Big Tree" Walks
                  small Ongoing between 10 am and 2 pm
                p.list-group-item-text
                  | Led by Matt (Twig) Largess, arborist and long-time
                  | friend of the park. He may also lead a walk through
                  | the recovering tornado damage. These short walks
                  | are especially appropriate for children.
              .list-group-item
                h4.list-group-item-heading
                  | Rapid Stream Assessments
                  small Ongoing between 10 am and 2 pm
                p.list-group-item-text
                  | Watch and help Nancy Bobskill, AHS environmental
                  | teacher, and Rod Parlee, of the Bolton, CT Conservation
                  | Commission, do a rapid stream assessment for water 
                  | purity on streams that run through the park. Bring
                  | rubber boots. Anyone wishing to participate can
                  | respond to the Friends' email address for details
                  | and times:&nbsp;
                  a(href="mailto:robinsonfriends@comcast.net") robinsonfriends@comcast.net
                  | .
              .list-group-item
                h4.list-group-item-heading
                  | Scavenger Hunt and Nature Walk for Children
                  small 10:30 am
                p.list-group-item-text
                  | Between the Trestle Pavilion and the pond.
                  | Volunteers from Agawam High School will assist.
              .list-group-item
                h4.list-group-item-heading
                  | Nature Walk with Charlie Spencer
                  small 1 pm
                p.list-group-item-text
                  | Charlie will guide a comfortable walk along a
                  | particularly beautiful and peaceful stream.
                  | Meet in the parking lot adjacent to the picnic
                  | area/canoe launch.
              .list-group-item
                h4.list-group-item-heading
                  | WRWA Canoe & Kayak Cruise Arrival
                  small 3 pm
                p.list-group-item-text
                  | Watch the Westfield River Watershed 
                  | Association Annual Canoe & Kayak Cruise 
                  | arrive at Robinson from the Westfield 
                  | River at the park’s canoe launch area.
          p In addition to all of this, the Robinson Pond will be open
            | for swimming and exploring. The paved River Road is perfect
            | for a bike ride or a stroll.
          p Members of the Friends Group will be available at the Trestle
            | Pavilion with nature pictures for children to color, photo
            | displays, maps, and a general willingness to answer your
            | questions and help you learn more about the park.
          p: b Please note that severe weather or heavy rain will lead
            | to the event being cancelled.
    .row
      .col-md-12
        .index-col
          h2 Runners show character in the park
          small Original story via <a href="http://wwlp.com/2014/03/22/two-high-school-students-named-hometown-heroes/">22 News</a>.
          p AGAWAM, Mass. (WWLP) – Pioneer Valley Red Cross Hometown Heroes are chosen for having saved lives and helped improve the lives of others, while displaying strength of character. 22News shows you how two Agawam High School students sacrificed winning a race, when they helped someone on the opposing team who had suffered a seizure during the race.

          p “He had suffered a seizure, he was flushed, he was sweating, it didn’t look good,” said Sandra Land.

          p Hometown Heroes Sandra Land and Gina Lopez knew that by stopping to help the fallen cross country athlete from Belchertown High School, Agawam High School would forfeit the track meet at Robinson State Park last fall. They did the right thing.

          p “Gina going and getting help leading the people back to where I was with him, It seems that we lost the race in the end in the moment the face doesn’t matter,” said Land.

          p “I learned that anyone can rise to the occasion. You don’t have to be a doctor, you can check someone in the smallest way, by checking to see If they’re okay,” said Lopez.

          p Gina Lopez and Sandra Land made a decision that endeared them to Agawam Mayor Richard Cohen who nominated them as Hometown Heroes and to their proud coaches Bill Dillon and Carla Warner.

          p “Oh extremely, these two girls really stepped up at the right time, they did the right thing,” said Coach Dillon.

          p “In giving up her potential win against Belchertown, she gave back to a young man’s health and the integrity of her team,” said Carla Warner.
